*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

/* Root Font Size Calculation */
/* Inital Font Size from root is 16px and my personal font size for my project is 10px  */

html {
  font-size: 62.5%;
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 1.7;
  color: #777;
  padding: 2rem;

  box-sizing: border-box;
}

.login {
  height: 95vh;
  background-image: url(/UI/img/login.jpg);
  background-size: cover;
  background-position: bottom;
  position: relative;
}

.login__section {
  background: rgba(44, 62, 80, 0.9);
  padding: 4rem;
  width: 35rem;
  height: 40rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.login__form {
  width: 30rem;
  text-align: center;

  text-transform: uppercase;

  backface-visibility: hidden;
}

.login__text {
  color: #fff;
}

.login__form--input {
  width: 30rem;
  text-align: center;
  background: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  font-weight: 200;
  padding: 10px 0;
  transition: border 0.5s;
  outline: none;
  color: #fff;
  margin-bottom: 2rem;
}

.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1rem 3rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all 0.2s;
  margin-bottom: 2rem;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.btn--login {
  background-color: #fff;
  color: #777;
}

.login__info--text {
  display: block;
  margin-bottom: 5rem;
}

.login__info--text a {
  text-transform: capitalize;
  text-decoration: none;
  color: #beeb9f;
}

.login__info--text a:hover {
  color: #ffe385;
}

.login__info--link {
  display: block;
  color: #fff;
}

.login__info--link a {
  text-transform: capitalize;
  text-decoration: none;
  color: #beeb9f;
}

.login__info--link a:hover {
  color: #ffe385;
}

::placeholder {
  color: aliceblue;
  opacity: 0.8;
}
